body{
	color:white;
	background-color:black;
	.icon{
		width:40px;
		height:40px;
		background-size:24px;
		background-repeat:no-repeat;
		&.anna{
			background-image:url("img/anna.svg");
		}
		&.bastion{
			background-image:url("img/bastion.svg");
		}
		&.dva{
			background-image:url("img/dva.svg");
		}
		&.genji{
			background-image:url("img/genji.svg");
		}
		&.hanzo{
			background-image:url("img/hanzo.svg");
		}
		&.junkrat{
			background-image:url("img/junkrat.svg");
		}
		&.lucio{
			background-image:url("img/lucio.svg");
		}
		&.mccree{
			background-image:url("img/mccree.svg");
		}
		&.mei{
			background-image:url("img/mei.svg");
		}
		&.mercy{
			background-image:url("img/mercy.svg");
		}
		&.phara{
			background-image:url("img/phara.svg");
		}
		&.reaper{
			background-image:url("img/reaper.svg");
		}
		&.reinhard{
			background-image:url("img/reinhard.svg");
		}
		&.roadhoag{
			background-image:url("img/roadhoag.svg");
		}
		&.soldier{
			background-image:url("img/soldier.svg");
		}
		&.symmetra{
			background-image:url("img/symmetra.svg");
		}
		&.torbjoern{
			background-image:url("img/torbjoern.svg");
		}
		&.tracer{
			background-image:url("img/tracer.svg");
		}
		&.widow{
			background-image:url("img/widow.svg");
		}
		&.winston{
			background-image:url("img/winston.svg");
		}
		&.zarya{
			background-image:url("img/zarya.svg");
		}
		&.zeniata{
			background-image:url("img/zeniata.svg");
		}
		&.reaper{
			background-image:url("img/reaper.svg");
		}
	}
	.container{
		background-color:black;
	}
}
