<!DOCTYPE>
<html>
	<head>
		<title>Under Construction</title>
				<link rel="stylesheet" href="main.css" type="text/css" media="all">
				<script src="bower_components/angular.js" type="text/javascript" charset="utf-8"></script>	
				<script src="app.js" type="text/javascript" charset="utf-8"></script>	
	</head>
	<body ng-app="myApp"ng-controller="SquadCtrl" class="container">
		<div class="squad-container">
			<div ng-repeat="member in data.squad">
				<th>{{member.name}}</th>
				<hr>
				<th>playing</th>
				<div>
				<div ng-repeat="champion in member.championpool">
					<div ng-if="champion.playing==true">
						<div class="{{champion.icon}}">
						</div>
						<a href="{{champion.highlight}}">{{champion.title}}</a>
					</div>

				</div>
			</div>
				<th>training</th>
				<div>
				<div ng-repeat="champion in member.championpool">
					<div ng-if="champion.training == true"class="{{champion.icon}}"></div>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>
